<h2>Voulez vous supprimer {{model.identity}} ?</h2>
<button class="btn btn-danger" {{action "DeleteDeveloper" model}}>Confirmer</button>
<a href="http://localhost:4200/developers/" class="btn btn-primary">Annuler</a>