{{outlet}}
<h3>&nbsp;&nbsp;{{fa-icon "folder"}} Boards-EmberJS</h3>
<h4>&nbsp;&nbsp;Gestion de projet SCRUM avec EMBERJS</h4>
<br><br>
<h5>&nbsp;&nbsp;Stories</h5>
&nbsp;&nbsp;<LinkTo @route="story.new" @model={{model}} class="btn btn-info">{{fa-icon "plus"}} Add story in project</LinkTo>